<!DOCTYPE html>
<html>
<head>
    <title>Prova</title>
</head>
<body>
    <h1>Welcome to my to do list</h1>
    <h2>Change things on the list</h2>
    <form action="/add" method="post" name="item">
        <input type="text" name="item" placeholder="What do you want to add?">
        <button type="submit">Add</button>
    </form>
    <h2>Edit the list</h2>
    <form action="/edit" method="post" hx-post="true">
        <input type="text" name="old_item" placeholder="What do you want to edit?">
        <input type="text" name="new_item" placeholder="New item">
        <button type="submit">Edit</button>
    </form>
    <h2>Remove things from the list</h2>
    <form action="/delete" method="post">
        <input type="text" name="item" placeholder="What do you want to delete?">
        <button type="submit">Delete</button>
    </form>
    <h2>The actual list</h2>
    <ul>
        {% for toDo in toDo_list %}
        <li>{{ toDo.item }}</li>
        {% endfor %}
    </ul>
    </ul>
</body>
</html>